name: build-and-push

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # backend
      - uses: docker/build-push-action@v6
        with:
          context: .
          file: server/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/skribbl-server:latest
            ghcr.io/${{ github.repository_owner }}/skribbl-server:${{ github.sha }}

      # frontend
      - uses: docker/build-push-action@v6
        with:
          context: ./client
          file: ./client/Dockerfile
          push: true
          build-args: |
            VITE_SERVER_URL=https://game2srv.dejongs.de
          tags: |
            ghcr.io/${{ github.repository_owner }}/skribbl-client:latest
            ghcr.io/${{ github.repository_owner }}/skribbl-client:${{ github.sha }}
